body, html {
    margin: 0; padding: 0;
    height: 100%; font-family: 'Arial', sans-serif;
}

.wall {
    width: 100%; height: 100vh;
    background-color: #2c2c2c; /* Gelap saat mulai */
    display: flex; justify-content: center; align-items: center;
    position: relative; transition: background 0.2s;
}

.light-on {
    background-color: #f39c12; /* Warna dinding kayu kena lampu */
}

/* Sakelar Tali */
.pull-switch {
    position: absolute; top: 0; right: 25%;
    cursor: pointer; z-index: 10;
}

.string {
    width: 4px; height: 200px;
    background: #fff; margin: 0 auto;
    transition: height 0.1s;
}

.knob {
    width: 20px; height: 30px;
    background: #e74c3c; border-radius: 5px;
}

.pulling .string { height: 230px; }

/* Pintu Beruang */
.door-frame {
    width: 120px; height: 180px;
    background: #1a1a1a; border: 5px solid #3e2723;
    position: relative; overflow: hidden;
}

.door-leaf {
    position: absolute; width: 100%; height: 100%;
    background: #5d4037; right: 0; transition: 0.3s;
    z-index: 5;
}

/* Beruang Menyebalkan */
.bear {
    position: absolute; width: 80px; height: 100px;
    background: #3e2723; bottom: 0; left: -100px;
    transition: left 0.4s ease-in-out; z-index: 2;
}

.hand {
    position: absolute; width: 50px; height: 15px;
    background: #3e2723; right: -30px; top: 40px;
    border-radius: 10px;
}

.bear.active { left: 10px; }
.instruction { color: white; position: absolute; bottom: 20px; }
